.btn-style {
  font-size: 22px;
  color: rgb(126, 126, 126);
}

.learningModeActiveButton{
  border-color: rgb(0, 0, 0);
  border-width: 2px;
}

  @media (max-width: 768px){
.adjust{
  text-align: center;
}
}
